
@mixin alert-color($color, $textcolor:$light){
  border:3px solid $color;
  color:$color;
  &.solid{
    color:$textcolor;
    background-color:$color;
  }
  transition:visibility 0.5s, opacity 0.5s ease;
}
.alert {
  background-color:$transparent;
  @include alert-color($dark);
  border-radius:$border-radius;
  display:block;
  margin:3px;
  padding:10px 20px;
  position:relative;
  &.slim {
    padding:3px 20px;
  }
  &.red {
    @include alert-color($red);
  }
  &.blue {
    @include alert-color($blue);
  }
  &.green {
    @include alert-color($green);
  }
  &.yellow {
    @include alert-color($yellow);
  }
  &.white {
    @include alert-color($white, $base);
  }
  & > .close {
    color:inherit;
    float:right;
    right:5px;
    top:5px;
    position:absolute;
  }
}
.alert > p { margin:0; }
.hide {
  visibility:hidden;
  opacity:0;
}