$base:#202020;
$grey:#B6B6B6;

$dark:#202020;
$light:#F0F0F0;
$blue:#004687;
$red:#B81D18;
$green:#32742C;
$orange:#F18D05;
$yellow:#D0D102;
$pink:#D70060;
$white:#fff;
$transparent:rgba(0,0,0,0);

$max-page-width:1050px;

$btn-transition:250ms;
$border-radius:3px;